<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Final Project</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse d-flex justify-content-between container">
            <div class="ml-5">
                <a class="navbar-brand" href="/">Data Mining Mini Project</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </div>
        </div>
    </nav>
</header>

<center class="mt-5">
    {{ data }}
    {% if data == 0 %}
    <h1>Lower than 50k Dollar per year</h1>

    {% else %}

    <h1>More than 50k Dollar per year</h1>

    {% endif %}
</center>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>

